@font-face {
  font-family: "Titan one";
  src: url("/fonts/TITANONE-REGULAR.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Titan One", sans-serif;
}

/* .skeleton {
  background: linear-gradient(90deg, #eee 25%, #ddd 50%, #eee 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 6px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
} */

.gradient {
  background: linear-gradient(#7e93e0, rgb(255, 255, 255));
}

.title {
  color: white;
  padding: 5rem 2rem;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.hello {
  padding: 5rem 2rem;
  color: white;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.entry-btn {
  border: none !important;
  background-color: white !important;
  color: #7e93e0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 75px;
  width: 250px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.entry-btn:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  color: #6b7dbe;
  transform: scale(1.01);
}

.list {
  padding: 20vw;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.option-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-title h1 {
  color: #7e93e0;
  font-size: 6rem;
  margin: 0;
  transition: font-size 0.3s ease;
}

.option {
  color: #c0cbf0;
  font-size: 2.5rem;
  line-height: 1.6;
  padding-left: 0;
  justify-content: center;
  text-align: center;
}

.option p {
  margin: 0.5rem 0;
}

.entries h2 {
  color: #7e93e0;
  font-size: 4rem;
}

.entries p {
  color: #c0cbf0 !important;
  font-size: 2rem;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .option-title h1 {
    font-size: 8rem;
  }

  .option {
    font-size: 4rem;
    text-align: left;
    padding-left: 10rem;
  }
}