@font-face {
  font-family: "Titan one";
  src: url("/fonts/TITANONE-REGULAR.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Titan One", sans-serif;
}

.gradient {
  background: linear-gradient(#7e93e0, rgb(255, 255, 255));
}

.title{
  color: white;
  padding: 10vw;
}

.hello {
  padding: 2vw;
  color: white;
}

.entry-btn{
  border: none !important;
  background-color: white !important;
  color: #7e93e0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 75px;
  width: 250px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bi{
  color: #7e93e0;
}
.entry-btn:hover{
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  color: #6b7dbe;
  transform: translateY(-2px);
}